body
{
	background-image: url("https://www.colourbox.com/preview/7210914-seamless-black-silk-wallpaper-pattern.jpg");
}

h1
{
	color:rgb(0, 51, 204);
	font-family: Georgia;
	font-size: 300%;
	padding: 25px 100px;
	text-align: center;
	margin-bottom: 75px;
	font-style: normal;
}

h2
{
	color:rgb(26, 26, 255);
	font-family: Georgia;
	font-size: 150%;
	padding-left: 100px;
}

p
{
	color:white;
	font-size: 125%;
	font-family: Georgia;
	padding-left: 100px;
}

a
{
	color: white;
}

i
{
	font-size: 125%;
}